*{
	margin:0px;
	padding: 0px;
	box-sizing: border-box;
}
nav{
	width: 100%;
	height: 75px;
	line-height: 75px;
	padding: 0px 100px;
	position: fixed;
	background-color: #000036;
}
nav .logo p{
	font-size:30px;
	font-weight:bold;
	float:left;
	color:white;
	text-transform:uppercase;
	letter-spacing:1.5px;
	cursor:pointer;
}
nav ul{
	float: right;
}
nav li{
	display:inline-block;
	list-style:none;
}
nav li a{
	font-size:18px;
	text-transform:uppercase;
	padding: 0px 30px;
	color: white;
	text-decoration: none;
}
nav li a:hover{
	color: blue;
	transition: all 0.4s ease 0s;
}
h1{
	font-size:50px;
	color: #002387;
}
p1{
	color:#002387;
	font-size:25px;
	font-family:Georgia;
}
p2{
	color:#002387;
	font-size:25px;
	font-family:Georgia;
}
section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    background-size: cover;
    background-position: center center; 
}
.btn{
    color: black;
    font-size: 20px;
    letter-spacing: 5px;
    padding: 15px 40px;
    background-size: 150% 100%;
    border: 2px solid black;
}
.btn:hover{ 
    background: lightblue;
}
#contact {
    background-image: url('https://takestangroup.com/wp-content/uploads/contactus-bg.jpg');
}